[run]
relative_files = True
omit =
    src/faker_file/tests/*
    examples/simple/project/settings/*
    examples/django_example/project/wsgi.py
    examples/django_example/upload/migrations/*
    .tox/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    @overload
#    raise NotImplementedError
