*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.cache/
.coverage*
!.coveragerc
/htmlcov/
*.py,cover
.idea/
.pytest_cache/
/coverage.xml
.eggs/

MANIFEST.in~
codebin/
/tmp/
.zip
/examples/db/
/var/
/examples/django_example/project/media/
/examples/django_example/project/static/
/examples/sqlalchemy_example/tmp/
/examples/tmp/
/examples/logs/
/builddocs/
/builddocs.zip
/build/
/dist/
faker_file.egg-info
matyan.log*
db.sqlite3
sample_db.sqlite
local_settings.py
/prof/
*.cast
.ipynb_checkpoints/
.scannerwork/
